<div class="container">
    <div class="row">
        <div class="mt-2">
            <button class="btn btn-dark" appBackBtn>Back</button>
        </div>
        <div class="card p-4 m-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <strong>Company Name:</strong> {{ currentLead?.companyName }}
                        </div>
                        <div class="mb-3">
                            <strong>Parent Enterprise:</strong> {{ currentLead?.parentEnterpriseName }}
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-row-reverse">
                        <div *ngIf="currentLead?.statusId==2">
                            <button class="btn btn-success m-2" (click)="markWon()">Mark as WON</button>
                            <button class="btn btn-danger m-2" (click)="marklost()">Mark as LOST</button>
                        </div>
                        <div>
                            <button *ngIf="currentLead?.statusId==4" class="btn btn-success m-2">Closed Won</button>
                            <button *ngIf="currentLead?.statusId==5" class="btn btn-danger m-2">Closed Lost</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <strong>Company Email:</strong> {{ currentLead?.companyEmail }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <strong>Company Address:</strong> {{ currentLead?.companyAddress }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <strong>Country:</strong> {{ currentLead?.country }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <strong>Time Zone:</strong> {{ currentLead?.timeZone }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <strong>Working Hours:</strong> {{ currentLead?.workingHourStart }} - {{
                            currentLead?.workingHourEnd }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <strong>Comment:</strong> {{ currentLead?.comment }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>