<div class="container">
    <div class="row">
        <div class="p-4">
            <div class="card">
                <div class="card-body">
                    <h4>Add Lead</h4>
                    <div class="form-group">
                        <label for="parentEnterpriseName">Parent Enterprise Name*</label>
                        <input type="text" class="form-control" id="parentEnterpriseName"
                            [(ngModel)]="parentEnterpriseName" />
                    </div>

                    <div class="form-group">
                        <label for="companyName">Company Name*</label>
                        <input type="text" class="form-control" id="companyName" [(ngModel)]="companyName" />
                    </div>

                    <div class="form-group">
                        <label for="companyEmail">Company Email*</label>
                        <input type="email" class="form-control" id="companyEmail" [(ngModel)]="companyEmail" />
                    </div>

                    <div class="form-group">
                        <label for="companyAddress">Company Address*</label>
                        <textarea type="text" class="form-control" id="companyAddress" [(ngModel)]="companyAddress"></textarea>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="country">Country*</label>
                                <select class="form-control" id="countryId" [(ngModel)]="country" name="countryId" (change)="onCountryChange()">
                                <option *ngFor="let country of timeZoneList" [value]="country.id">{{ country.country }}</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="timeZone">Time Zone*</label>
                                <input type="text" class="form-control" id="timeZone" [(ngModel)]="timeZone"  disabled/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="workingHourStart">Working Hour Start*</label>
                                <input type="time" class="form-control" id="workingHourStart" step="300"
                                    [(ngModel)]="workingHourStart" />                                    
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="workingHourEnd">Working Hour End*</label>
                                <input type="time" class="form-control" id="workingHourEnd" [(ngModel)]="workingHourEnd" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" [(ngModel)]="comment"></textarea>
                    </div>
                    <p>* Required fields</p>
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div>
                        <button class="btn btn-dark m-2" (click)="addLead()">
                            Add Lead
                        </button>
                        <button class="btn btn-danger m-2" appBackBtn>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>