<div class="container p-4">
    <div class="row">
        <h6>Schedule Call with Lead</h6>
        <div>
            <div class="form-group">
                <label for="companyId">Company Name</label>
                <input type="text" id="companyId" class="form-control" [(ngModel)]="companyName" name="companyId"
                    disabled="">
            </div>

            <div class="form-group">
                <label for="pocId">POC Name</label>
                <select class="form-control" id="pocId" [(ngModel)]="pocId" name="pocId" required>
                    <option *ngFor="let poc of pocList" [value]="poc.id">{{ poc.pocName }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="time">Time</label>
                <input type="datetime-local" id="time" class="form-control" [(ngModel)]="model.Time" name="time"
                    [min]="minDateTime" (change)="validateTime()">
            </div>
            <div>
                <span>Status: </span>
                <div class="form-check form-check-inline" *ngFor="let item of callFrequency">
                    <input class="form-check-input" type="radio" [(ngModel)]="selectedFrequency" [value]="item.id">
                    <label class="form-check-label"
                        for="inlineCheckbox1">{{item.frequency}}</label>
                </div>
            </div>

            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea id="comment" class="form-control" [(ngModel)]="model.Comment" name="comment"></textarea>
            </div>
            <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="outsideWorkHour">
                    <label class="form-check-label" for="inlineCheckbox1">Are you sure to schedule call outside work hours?</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="m-2">
                    <button type="submit" class="btn btn-dark" (click)="scheduleCall()">Schedule</button>
                </div>
                <div class="m-2">
                    <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>