<div class="p-2">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h6>Quick Actions</h6>
                        <button type="button" class="btn btn-dark m-2" [routerLink]="'add'">Add Leads</button>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h6>At Risk Leads</h6>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h6>Urgent Follow up required</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>